/* 
    Created on : 21 de mai. de 2022, 11:20:28
    Author     : pedro
*/

@charset "utf-8";
* {
    font-family: arial;
}

#div1 {
    height: 400px;
}

a:link, a.visited {
    text-decoration: none;
}

a:hover {
    background: #ff0;
    color: #f00;
}

a:active {
    text-decoration: none;
}

header {
    background-color: coral; 
}

footer {
    background-color: coral; 
}

#corpo {
    background-color: azure;
}

#form {
    position: absolute;
    left: 80%;
    top: 80%;
    margin-left: -110px;
    margin-top: -40px; 
}

#form3 {
    position: absolute;
    left: 80%;
    top: 60%;
    margin-left: -110px;
    margin-top: -40px;
}